<div class="bg-primary mb-5 d-flex flex-wrap align-content-end justify-content-center" style="height: 50px;">
    <form class="form-inline mb-n3" action="/filter_elonlar" method="POST">
        <div class="form-group-inline ml-3">
            <input type="date" class="form-control" name="date" id="date" placeholder="yyyy-mm-dd">
        </div>

        <div class="dropdown ml-3">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                Yo'nalish
            </button>
                <div class="dropdown-menu" style="width: 200px;">
                       
                    <input type="checkbox" id="myCheck1" onclick="myFunction1()" style="display: inline-block;" name="yunalish[]" value="Information Technologies">Information Technologies <br>
                   
                        <div id="text1" style="display: none; margin-left: 20px; font-size: small">
                            {{#each IT}}
                                <input type="checkbox" style="display: inline-block;" name="ichki_yunalish[]" value="{{this}}">{{this}} <br>
                            {{/each}}
                        </div>

                    <input type="checkbox" id="myCheck2" onclick="myFunction2()" style="display: inline-block;" name="yunalish[]" value="Grafik Dizayn">Grafik Dizayn <br>
                
                    <div id="text2" style="display: none; margin-left: 20px; font-size: small">
                        {{#each GD}}
                            <input type="checkbox" style="display: inline-block;" name="ichki_yunalish[]" value="{{this}}">{{this}} <br>
                        {{/each}}
                    </div>

                    <input type="checkbox" id="myCheck3" onclick="myFunction3()" style="display: inline-block;" name="yunalish[]" value="SMM">SMM <br>
                
                    <div id="text3" style="display: none; margin-left: 20px; font-size: small">
                        {{#each SMM}}
                            <input type="checkbox" style="display: inline-block;" name="ichki_yunalish[]" value="{{this}}">{{this}} <br>
                        {{/each}}
                    </div>
            
                </div> 
          
        </div> 

        <div class="form-group-inline ml-3">
            
                <select class="form-control masterSelect" id="yunalish" name="format">
                    <option value="" hidden disabled selected>Formatni tanlang</option>
                    <option value="online">Online</option>
                    <option value="offline">Offline</option>
                    <option value="">Hammasi</option>
                </select>
        </div>


        <div class="dropdown ml-3">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                Ism Sharif
            </button>
            {{#if authors.length}}
                <div class="dropdown-menu" style="width: 200px;">
            {{#each authors}}
               
                <input type="checkbox" id="fullname" style="display: inline-block;" name="fullname[]" value="{{this}}">{{this}} <br>
                    
            {{/each}}
                </div> 
            {{/if}}
        </div>  
      
        <button type="submit" class="btn btn-info ml-3">Izlash</button>
    </form>
</div>
<div class="container">
    <h6>Oxirgi elonlar</h6>
{{#if elonlar.length}}
<div class="row d-flex justify-content-around align-items-center">
    {{#each elonlar}}
        <div class="col-3">
        
        <div class="card mb-2 border border-primary" style="width:260px; height: 460px">
            <img class="card-img-top" src="{{image}}" alt="Card image" style="width:100%">
            <div class="card-body">
            <h6 class="card-title mt-1 mb-1">{{fullname}}</h6>
            <h6 class="card-title mt-1 mb-1"> {{yunalish}}</h6>
            <p class="card-text mt-1 mb-1">{{ichki_yunalish}}</p>
            <p class="card-text mt-1 mb-1"><span>Kuni: {{date}};</span> <span> vaqti: {{time}}</span></p>
            <p class="card-text mt-1 mb-1"><span>Formati: {{format}}</span> <span>{{link}}</span></p>
            </div>
        </div>
        </div>
    {{/each}}
        
    {{else}}
        <h1>E'lonlar yo'q</h1>
    {{/if}}
</div>

{{#if isElon}}
<div class="d-flex justify-content-center mt-3 mb-5">
  <ul class="list-group list-group-horizontal text-dark">
 
    {{#paginate pagination type="previous"}}
      <li  class="list-group-item  {{#if disabled}} disabled {{/if}}"><a href="?p={{n}}">Prev</a></li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="7"}}
      <li  class="list-group-item {{#if active}} bg-secondary {{/if}}"><a href="?p={{n}}">{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <li  class="list-group-item  {{#if disabled}} disabled {{/if}}"><a href="?p={{n}}">Next</a></li>
    {{/paginate}}

  </ul>
</div>
{{/if}}

{{!-- {{#if isFilter}}
<div class="d-flex justify-content-center mt-5 mb-5">
  <ul class="list-group list-group-horizontal text-dark">
 
    {{#paginate pagination type="previous"}}
      <li  class="list-group-item  {{#if disabled}} disabled {{/if}}"><a href="/filter_elonlar/:{{n}}">Prev</a></li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="7"}}
      <li  class="list-group-item {{#if active}} bg-secondary {{/if}}"><a href="/filter_elonlar/:{{n}}">{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <li  class="list-group-item  {{#if disabled}} disabled {{/if}}"><a href="/filter_elonlar/:{{n}}">Next</a></li>
    {{/paginate}}

  </ul>
</div>
{{/if}} --}}

